<%= form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id_team %><br />
    <%= f.number_field :id_team %>
  </div>
  <div class="field">
    <%= f.label :id_project %><br />
    <%= f.number_field :id_project %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
