<p id="notice"><%= notice %></p>

<p>
  <b>Info:</b>
  <%= @team.info %>
</p>

<p>
	<% if signed_in? %>
	<%= @mem = Member.where("user_id = ?", current_user.id).first %>
	<% if !@mem.nil? %>
	<%= @member_team = MemberTeam.where("member_id = ? and team_id = ?", @mem.id, @team.id).first %>
	<% if !@member_team.nil? && @member_team.function == "lider" %>
	<%= form_tag(new_member_team_path, :method => "post") do %>
	<%= hidden_field_tag(:team_id, @team.id) %>
  	<%= submit_tag("New Member") %>
	<% end %>
	<% end %>
	<% end %>
	<% end %>
</p>

<p>
  <b>Members:</b> </br>
  <% @members.each do |member_team| %>
    <%= member_team.function %> </br>
    <%= member_team.member.name %> </br>
    <%= member_team.member.surname %> </br>
    <%= image_tag member_team.member.photo %></br>
      
    </br></br>
<% end %>
</p>

<p>
  <b>Projects:</b> </br>
  <% @projects.each do |project| %>
    <%= link_to project.name, project_path(:id => project.id) %>

      
    </br></br>
<% end %>
</p>


