<!DOCTYPE html>
<html>
<head>
  <title>Webowe</title>
  <%= stylesheet_link_tag    "main", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<center>
<p><%= notice %></p>
	<table style="margin-left:5; background-color: #eee">
	<tr style="width:500">
	<td>
	<table>
		<tr style="background-color: #fff"><td>
  <b>Info:</b> <%= @team.info %>
		</td></tr></table></td></tr>
	<tr style="width:500">
	<td>
	<table>
		<tr style="background-color: #fff"><td>
	<% if signed_in? %>
	<% @mem = Member.where("user_id = ?", current_user.id).first %>
	<% if !@mem.nil? %>
	<% @member_team = MemberTeam.where("member_id = ? and team_id = ?", @mem.id, @team.id).first %>
	<% if !@member_team.nil? && @member_team.function == "lider" %>
	<%= form_tag(new_member_team_path, :method => "post") do %>
	<%= hidden_field_tag(:team_id, @team.id) %>
  	<%= submit_tag("New Member") %>
	<% end %>
	<% end %>
	<% end %>
	<% end %>
		</td></tr></table></td></tr>
	<tr style="width:500">
	<td>
	<table>
		<tr style="background-color: #fff"><td>
  <b>Members:</b> </br>
  <% @members.each do |member_team| %>
    <%= member_team.function %> </br>
    <%= member_team.member.name %> </br>
    <%= member_team.member.surname %> </br>
    <%= image_tag member_team.member.photo %></br>
<% end %>
		</td></tr></table></td></tr>
	<tr style="width:500">
	<td>
	<table>
		<tr style="background-color: #fff"><td>
  <b>Projects:</b> </br>
  <% @projects.each do |project| %>
    <%= link_to project.name, project_path(:id => project.id) %>
<% end %>
		</td></tr></table></td></tr>
	</table>
	</center>
</body>
</html>
