<!DOCTYPE html>
<html>
<head>
  <title>Webowe</title>
  <%= stylesheet_link_tag    "main", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head><center>
<body>
<h1>Listing teams</h1>

<table style="width:480px;height:42px;z-index:2;" cellpadding="0" cellspacing="0" id="Table1" border="1">
<tr style="background-color:transparent;background-image:url(/images/table_head_bg.png);background-repeat:repeat-x;background-position:left top;border:1px #87CEEB solid;text-align:left;vertical-align:top;width:66px;height:18px;">
    <th>Info</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @teams.each do |team| %>
<tr style="background-color:#FFFFFF;border: 1px #87CEEB solid;text-align:left;vertical-align:top">
    <td><%= team.info %></td>
    <td><%= link_to 'Show', team %></td>
    <td><%= link_to 'Edit', edit_team_path(team) %></td>
    <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Team', new_team_path %>
</center></body>
</html>
