<!DOCTYPE html>
<html>
<head>
  <title>Webowe</title>
  <%= stylesheet_link_tag    "main", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<center>
<%= form_for(@sponsor_project) do |f| %>
  <% if @sponsor_project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sponsor_project.errors.count, "error") %> prohibited this sponsor_project from being saved:</h2>

      <ul>
      <% @sponsor_project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<table>
		<tr><td style="text-align: right">
    <%= f.label :sponsor_id %></td><td style="text-align: left"><%= f.collection_select(:sponsor_id, @sponsors, :id, :name) %>
		</td></tr>
		<tr><td style="text-align: right">
    <%= f.label :project_id %></td><td style="text-align: left"><%= f.collection_select(:project_id, @projects, :id, :name) %>
   		</td></tr>
   		</table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</center>
</body>
</html>
