<%= form_for(@sponsor_project) do |f| %>
  <% if @sponsor_project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sponsor_project.errors.count, "error") %> prohibited this sponsor_project from being saved:</h2>

      <ul>
      <% @sponsor_project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :sponsor_id %><br />
    <%= f.collection_select(:sponsor_id, @sponsors, :id, :name) %>
  </div>
  
  <div class="field">
    <%= f.label :project_id %><br />
    <%= f.collection_select(:project_id, @projects, :id, :name) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
