<p id="notice"><%= notice %></p>

<p>
  <b>Id partner:</b>
  <%= @partner.id_partner %>
</p>

<p>
  <b>Name:</b>
  <%= @partner.name %>
</p>

<p>
  <b>Info:</b>
  <%= @partner.info %>
</p>


<%= link_to 'Edit', edit_partner_path(@partner) %> |
<%= link_to 'Back', partners_path %>
