<!DOCTYPE html>
<html>
<head>
  <title>Webowe</title>
  <%= stylesheet_link_tag    "main", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= form_for(@member_team) do |f| %>
  <% if @member_team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member_team.errors.count, "error") %> prohibited this member_team from being saved:</h2>

      <ul>
      <% @member_team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :function %><br />
    <%= f.text_field :function %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</body>
</html>
