<!DOCTYPE html>
<html>
<head>
  <title>Webowe</title>
  <%= stylesheet_link_tag    "main", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head><center>
<body>
<h1>Listing member_teams</h1>

<table>
  <tr>
    <th>Function</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @member_teams.each do |member_team| %>
<tr style="background-color:#FFFFFF;border: 1px #87CEEB solid;text-align:left;vertical-align:top">
    <td><%= member_team.function %></td>
    <td><%= link_to 'Show', member_team %></td>
    <td><%= link_to 'Edit', edit_member_team_path(member_team) %></td>
    <td><%= link_to 'Destroy', member_team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Member team', new_member_team_path %>
</center></body>
</html>
