<h1>Listing member_teams</h1>

<table>
  <tr>
    <th>Function</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @member_teams.each do |member_team| %>
  <tr>
    <td><%= member_team.function %></td>
    <td><%= link_to 'Show', member_team %></td>
    <td><%= link_to 'Edit', edit_member_team_path(member_team) %></td>
    <td><%= link_to 'Destroy', member_team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Member team', new_member_team_path %>
