<!DOCTYPE html>
<html>
<head>
  <title>Webowe</title>
  <%= stylesheet_link_tag    "main", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Editing user</h1>
<% if signed_in? %>
<%= render 'form' %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
<% end %>
</body>
</html>

