<!DOCTYPE html>
<html>
<head>
  <title>Webowe</title>
  <%= stylesheet_link_tag    "main", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<center>
	<h1>Listing users</h1>
	<%= link_to 'Add new user', new_user_path %>
<table style="width:480px;height:42px;z-index:2; vertical-align: center" cellpadding="0" cellspacing="0" id="Table1" border="1">
<tr style="ackground-color:transparent;background-image:url(/images/table_head_bg.png);background-repeat:repeat-x;background-position:left top;border:1px #87CEEB solid;text-align:center;vertical-align:top;width:66px;height:18px;">
    <th>Login</th>
    <th>Password</th>
    <th>Email</th>
    <th>Member</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Destroy</th>
  </tr>
<% @users.each do |user| %>
<tr style="background-color:#FFFFFF;border: 1px #87CEEB solid;text-align:left" vertical-align="top">
    <td><%= user.login %></td>
    <td><%= user.password %></td>
    <td><%= user.email %></td>
    <td><%= user.getMember %></td>
	<td style="text-align: center"><%= link_to image_tag('/images/show.jpg'), user %></td>
	<td style="text-align: center"><%= link_to image_tag('/images/edit.jpg'), edit_user_path(user) %></td>
	<td style="text-align: center"><%= link_to image_tag('/images/destroy.jpg'), user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
</center>
</body>
</html>
