<p id="notice"><%= notice %></p>

<p>
  <b>Id award:</b>
  <%= @award.id_award %>
</p>

<p>
  <b>Id project:</b>
  <%= @award.id_project %>
</p>

<p>
  <b>Name:</b>
  <%= @award.name %>
</p>

<p>
  <b>Content:</b>
  <%= @award.content %>
</p>

<p>
  <b>From:</b>
  <%= @award.from %>
</p>


<%= link_to 'Edit', edit_award_path(@award) %> |
<%= link_to 'Back', awards_path %>
