<!DOCTYPE html>
<html>
<head>
  <title>Webowe</title>
  <%= stylesheet_link_tag    "main", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= form_for(@partner_project) do |f| %>
  <% if @partner_project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@partner_project.errors.count, "error") %> prohibited this partner_project from being saved:</h2>

      <ul>
      <% @partner_project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :partner_id %><br />
    <%= f.collection_select(:partner_id, @partners, :id, :name) %>
  </div>
  
  <div class="field">
    <%= f.label :project_id %><br />
    <%= f.collection_select(:project_id, @projects, :id, :name) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</body>
</html>
