<p id="notice"><%= notice %></p>

<p>
  <b>Id project:</b>
  <%= @project.id_project %>
</p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Shortdesc:</b>
  <%= @project.shortDesc %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Id category:</b>
  <%= @project.id_category %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
