<h1>Listing project_files</h1>

<table>
  <tr>
    <th>Id file</th>
    <th>Id project</th>
    <th>Source</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @project_files.each do |project_file| %>
  <tr>
    <td><%= project_file.id_file %></td>
    <td><%= project_file.id_project %></td>
    <td><%= project_file.source %></td>
    <td><%= project_file.description %></td>
    <td><%= link_to 'Show', project_file %></td>
    <td><%= link_to 'Edit', edit_project_file_path(project_file) %></td>
    <td><%= link_to 'Destroy', project_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project file', new_project_file_path %>
