<p id="notice"><%= notice %></p>

<p>
  <b>Id partnerproject:</b>
  <%= @partner_project.id_partnerProject %>
</p>

<p>
  <b>Id partner:</b>
  <%= @partner_project.id_partner %>
</p>

<p>
  <b>Id project:</b>
  <%= @partner_project.id_project %>
</p>


<%= link_to 'Edit', edit_partner_project_path(@partner_project) %> |
<%= link_to 'Back', partner_projects_path %>
