<p id="notice"><%= notice %></p>

<p>
  <b>Id cetegory:</b>
  <%= @category.id_cetegory %>
</p>

<p>
  <b>Name:</b>
  <%= @category.name %>
</p>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
