<!DOCTYPE html>
<html>
<head>
  <title>Webowe</title>
  <%= stylesheet_link_tag    "main", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<center>
<%= form_for @member, :html => { :multipart => true } do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% @member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<table>
		<tr><td style="text-align: right">
    <%= f.label :name %></td><td style="text-align: left"><%= f.text_field :name %>
		</td></tr>
		<tr><td style="text-align: right">
    <%= f.label :surname %></td><td style="text-align: left"><%= f.text_field :surname %>
		</td></tr>
		<tr><td style="text-align: right">
    <%= f.label :info %></td><td style="text-align: left"><%= f.text_field :info %>
		</td></tr>
		<tr><td style="text-align: right">
    <%= f.label :user_id %></td><td style="text-align: left"><%= f.collection_select(:user_id, @users, :id, :login) %>
		</td></tr>
		<tr><td style="text-align: right">
    <%= f.label :photo %></td><td style="text-align: left"><%= f.file_field :photo %>
   		</td></tr>
   		</table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</center>
</body>
</html>
