<!DOCTYPE html>
<html>
<head>
  <title>Webowe</title>
  <%= stylesheet_link_tag    "main", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<center>
<p><%= notice %></p>
	<table style="margin-left:5; background-color: #eee">
	<tr style="width:500">
	<td>
	<table>
		<tr style="background-color: #fff"><td>
  <b>Name:</b> <%= @member.name %><br>
  <b>Surname:</b> <%= @member.surname %>
		</td></tr></table></td></tr>
	<tr style="width:500">
	<td>
	<table>
		<tr style="background-color: #fff"><td>
  <b>Info:</b>
  <%= @member.info %>
		</td></tr></table></td></tr>
	<tr style="width:500">
	<td>
	<table>
		<tr style="background-color: #fff"><td>
  <b>Avatar:</b></br>
  <%= image_tag @member.photo %>
		</td></tr></table></td></tr>
	</table>
<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
</center>
</body>
</tml>
